footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

body {
  margin: 0;
  color: white;
  background-image: url("http://image.noelshack.com/fichiers/2023/08/5/1677207572-screenshot-from-2023-02-24-03-58-39.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
